/* Footer */
footer{
    background: darkred;
    
    .contenedor{display: flex;
    justify-content: space-between;
    
    a{
        text-decoration: none;
    font-size: 28px;
    margin: 5px;
    font-family: cursive;
}
    
}
}
    